$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.navbar {
    padding-right: 15px;
    z-index: 0;
}

.btn-form-inline {
    margin-top: 24px;
}

.dl-horizontal dt {
    width: 250px;
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 270px;
    }
}
.tracks-last-update {
    font-size: 0.8em;
    font-style: italic;
}

.input-group {
    width: 225px;
}

.form-control-edit {
    width: 145px;
}
