$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.navbar {
    padding-right: 15px;
}

.btn-form-inline {
    margin-top: 24px;
}

.dl-horizontal dt {
    width: 250px;
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 270px;
    }
}
